In [1]:
#functools
from functools import partial


def power(a, b):
	return a**b


# partial functions
pow2 = partial(power, b=2)
pow4 = partial(power, b=4)
power_of_5 = partial(power, 5)

print(power(2, 3))
print(pow2(4))
print(pow4(3))
print(power_of_5(2))

print('Function used in partial function pow2 :', pow2.func)
print('Default keywords for pow2 :', pow2.keywords)
print('Default arguments for power_of_5 :', power_of_5.args)

8
16
81
25
Function used in partial function pow2 : <function power at 0x7f3074ec4820>
Default keywords for pow2 : {'b': 2}
Default arguments for power_of_5 : (5,)

In [2]:
#partial method class
from functools import partialmethod

class Demo:
	def __init__(self):
		self.color = 'black'

	def _color(self, type):
		self.color = type

	set_red = partialmethod(_color, type='red')
	set_blue = partialmethod(_color, type='blue')
	set_green = partialmethod(_color, type='green')


obj = Demo()
print(obj.color)

obj.set_blue()
print(obj.color)

obj.set_red()
print(obj.color)

obj.set_green()
print(obj.color)

black
blue
red
green

In [3]:
#functions
from functools import cmp_to_key

# function to sort according to last character
def cmp_fun(a, b):
	if a[-1] > b[-1]:
		return 1
	elif a[-1] < b[-1]:
		return -1
	else:
		return 0

list1 = ['A', 'M', 'Z']
l = sorted(list1, key = cmp_to_key(cmp_fun))
print('sorted list :', l)

sorted list : ['A', 'M', 'Z']

In [4]:
#reduce
from functools import reduce
list1 = [2, 4, 7, 9, 1, 3]
sum_of_list1 = reduce(lambda a, b:a + b, list1)

list2 = ["abc", "xyz", "def"]
max_of_list2 = reduce(lambda a, b:a if a>b else b, list2)

print('Sum of list1 :', sum_of_list1)
print('Maximum of list2 :', max_of_list2)

Sum of list1 : 26
Maximum of list2 : xyz

In [5]:
#tool ordering
from functools import total_ordering

@total_ordering
class N:
	def __init__(self, value):
		self.value = value
	def __eq__(self, other):
		return self.value == other.value

	# Reverse the function of
	# '<' operator and accordingly
	# other rich comparison operators
	# due to total_ordering decorator
	def __lt__(self, other):
		return self.value > other.value


print('6 > 2 :', N(6)>N(2))
print('3 < 1 :', N(3)<N(1))
print('2 <= 7 :', N(2)<= N(7))
print('9 >= 10 :', N(9)>= N(10))
print('5 == 5 :', N(5)== N(5))

6 > 2 : False
3 < 1 : True
2 <= 7 : False
9 >= 10 : True
5 == 5 : True

In [6]:
from itertools import count

for number in count(start=1, step=2):
	if number > 10:
		break
	print(number) # print statement

1
3
5
7
9

In [7]:
# Python program to demonstrate
# infinite iterators

import itertools

# for in loop
for i in itertools.count(5, 5):
	if i == 35:
		break
	else:
		print(i, end=" ")

5 10 15 20 25 30

In [8]:
# Python program to demonstrate
# infinite iterators

import itertools

count = 0

# for in loop
for i in itertools.cycle('AB'):
	if count > 7:
		break
	else:
		print(i, end=" ")
		count += 1

A B A B A B A B

In [9]:
#Using the next function
# Python program to demonstrate
# infinite iterators

import itertools

l = ['CSE', 'COM', 'ECM']

# defining iterator
iterators = itertools.cycle(l)

# for in loop
for i in range(6):

	# Using next function
	print(next(iterators), end=" ")

CSE COM ECM CSE COM ECM

In [10]:
#repeat(val, num):
# Python code to demonstrate the working of
# repeat()

# importing "itertools" for iterator operations
import itertools

# using repeat() to repeatedly print number
print("Printing the numbers repeatedly : ")
print(list(itertools.repeat(25, 4)))

Printing the numbers repeatedly :
[25, 25, 25, 25]

In [11]:
# import the product function from itertools module
from itertools import product

print("The cartesian product using repeat:")
print(list(product([1, 2], repeat=2)))
print()

print("The cartesian product of the containers:")
print(list(product(['COM', 'CSE', 'ECM'], '2')))
print()

print("The cartesian product of the containers:")
print(list(product('AB', [3, 4])))

The cartesian product using repeat:
[(1, 1), (1, 2), (2, 1), (2, 2)]

The cartesian product of the containers:
[('COM', '2'), ('CSE', '2'), ('ECM', '2')]

The cartesian product of the containers:
[('A', 3), ('A', 4), ('B', 3), ('B', 4)]

In [12]:
# import the product function from itertools module
from itertools import permutations

print("All the permutations of the given list is:")
print(list(permutations([1, 'Computer'], 2)))
print()

print("All the permutations of the given string is:")
print(list(permutations('AB')))
print()

print("All the permutations of the given container is:")
print(list(permutations(range(3), 2)))

All the permutations of the given list is:
[(1, 'Computer'), ('Computer', 1)]

All the permutations of the given string is:
[('A', 'B'), ('B', 'A')]

All the permutations of the given container is:
[(0, 1), (0, 2), (1, 0), (1, 2), (2, 0), (2, 1)]

In [13]:
# import combinations from itertools module

from itertools import combinations

print ("All the combination of list in sorted order(without replacement) is:")
print(list(combinations(['A', 2], 2)))
print()

print ("All the combination of string in sorted order(without replacement) is:")
print(list(combinations('AB', 2)))
print()

print ("All the combination of list in sorted order(without replacement) is:")
print(list(combinations(range(2), 1)))

All the combination of list in sorted order(without replacement) is:
[('A', 2)]

All the combination of string in sorted order(without replacement) is:
[('A', 'B')]

All the combination of list in sorted order(without replacement) is:
[(0,), (1,)]

In [14]:
# import combinations from itertools module

from itertools import combinations_with_replacement

print("All the combination of string in sorted order(with replacement) is:")
print(list(combinations_with_replacement("AB", 2)))
print()

print("All the combination of list in sorted order(with replacement) is:")
print(list(combinations_with_replacement([1, 2], 2)))
print()

print("All the combination of container in sorted order(with replacement) is:")
print(list(combinations_with_replacement(range(2), 1)))

All the combination of string in sorted order(with replacement) is:
[('A', 'A'), ('A', 'B'), ('B', 'B')]

All the combination of list in sorted order(with replacement) is:
[(1, 1), (1, 2), (2, 2)]

All the combination of container in sorted order(with replacement) is:
[(0,), (1,)]

In [15]:
# Python code to demonstrate the working of
# accumulate()


import itertools
import operator

# initializing list 1
li1 = [1, 4, 5, 7]

# using accumulate()
# prints the successive summation of elements
print("The sum after each iteration is : ", end="")
print(list(itertools.accumulate(li1)))

# using accumulate()
# prints the successive multiplication of elements
print("The product after each iteration is : ", end="")
print(list(itertools.accumulate(li1, operator.mul)))

# using accumulate()
# prints the successive summation of elements
print("The sum after each iteration is : ", end="")
print(list(itertools.accumulate(li1)))

# using accumulate()
# prints the successive multiplication of elements
print("The product after each iteration is : ", end="")
print(list(itertools.accumulate(li1, operator.mul)))

The sum after each iteration is : [1, 5, 10, 17]
The product after each iteration is : [1, 4, 20, 140]
The sum after each iteration is : [1, 5, 10, 17]
The product after each iteration is : [1, 4, 20, 140]

In [16]:
# Python code to demonstrate the working of
# and chain()


import itertools

# initializing list 1
li1 = [1, 4, 5, 7]

# initializing list 2
li2 = [1, 6, 5, 9]

# initializing list 3
li3 = [8, 10, 5, 4]

# using chain() to print all elements of lists
print("All values in mentioned chain are : ", end="")
print(list(itertools.chain(li1, li2, li3)))

All values in mentioned chain are : [1, 4, 5, 7, 1, 6, 5, 9, 8, 10, 5, 4]

In [17]:
# Python code to demonstrate the working of
# chain.from_iterable()


import itertools


# initializing list 1
li1 = [1, 4, 5, 7]

# initializing list 2
li2 = [1, 6, 5, 9]

# initializing list 3
li3 = [8, 10, 5, 4]

# initializing list of list
li4 = [li1, li2, li3]

# using chain.from_iterable() to print all elements of lists
print ("All values in mentioned chain are : ", end ="")
print (list(itertools.chain.from_iterable(li4)))

All values in mentioned chain are : [1, 4, 5, 7, 1, 6, 5, 9, 8, 10, 5, 4]

In [18]:
# Python code to demonstrate the working of
# and compress()


import itertools


# using compress() selectively print data values
print("The compressed values in string are : ", end="")
print(list(itertools.compress('GEEKSFORGEEKS', [
	1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0])))

The compressed values in string are : ['G', 'F', 'G']

In [19]:
# Python code to demonstrate the working of
# dropwhile()


import itertools


# initializing list
li = [2, 4, 5, 7, 8]

# using dropwhile() to start displaying after condition is false
print ("The values after condition returns false : ", end ="")
print (list(itertools.dropwhile(lambda x : x % 2 == 0, li)))

The values after condition returns false : [5, 7, 8]

In [20]:
# Python code to demonstrate the working of
# dropwhile()


import itertools


# initializing list
li = [2, 4, 5, 7, 8]

# using dropwhile() to start displaying after condition is false
print ("The values after condition returns false : ", end ="")
print (list(itertools.dropwhile(lambda x : x % 2 == 0, li)))

The values after condition returns false : [5, 7, 8]

In [21]:
# Python code to demonstrate the working of
# filterfalse()


import itertools

# initializing list
li = [2, 4, 5, 7, 8]

# using filterfalse() to print false values
print ("The values that return false to function are : ", end ="")
print (list(itertools.filterfalse(lambda x : x % 2 == 0, li)))

The values that return false to function are : [5, 7]

In [22]:
# Python code to demonstrate the working of
# islice()


import itertools

# initializing list
li = [2, 4, 5, 7, 8, 10, 20]

# using islice() to slice the list acc. to need
# starts printing from 2nd index till 6th skipping 2
print ("The sliced list values are : ", end ="")
print (list(itertools.islice(li, 1, 6, 2)))

The sliced list values are : [4, 7, 10]

In [23]:
# Python code to demonstrate the working of
# starmap()


import itertools


# initializing tuple list
li = [ (1, 10, 5), (8, 4, 1), (5, 4, 9), (11, 10, 1) ]

# using starmap() for selection value acc. to function
# selects min of all tuple values
print ("The values acc. to function are : ", end ="")
print (list(itertools.starmap(min, li)))

The values acc. to function are : [1, 1, 4, 1]

In [24]:
# Python code to demonstrate the working of
# takewhile()


import itertools

# initializing list
li = [2, 4, 6, 7, 8, 10, 20]

# using takewhile() to print values till condition is false.
print ("The list values till 1st false value are : ", end ="")
print (list(itertools.takewhile(lambda x : x % 2 == 0, li )))

The list values till 1st false value are : [2, 4, 6]

In [25]:
# Python code to demonstrate the working of
# tee()


import itertools

# initializing list
li = [2, 4, 6, 7, 8, 10, 20]

# storing list in iterator
iti = iter(li)

# using tee() to make a list of iterators
# makes list of 3 iterators having same values.
it = itertools.tee(iti, 3)

# printing the values of iterators
print("The iterators are : ")
for i in range(0, 3):
	print(list(it[i]))

The iterators are :
[2, 4, 6, 7, 8, 10, 20]
[2, 4, 6, 7, 8, 10, 20]
[2, 4, 6, 7, 8, 10, 20]

In [27]:
# Python code to demonstrate the working of
# zip_longest()


import itertools

# using zip_longest() to combine two iterables.
print("The combined values of iterables is : ")
print(*(itertools.zip_longest('Peiec', 'rsdny', fillvalue='_')))

The combined values of iterables is :
('P', 'r') ('e', 's') ('i', 'd') ('e', 'n') ('c', 'y')